:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.container-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial black', times;
    font: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*Filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("/img/StrangerThings-fundo2.jpg");
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.descricao{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrosel-filmes{
    margin-top: 5px;
}

/*aba filmes*/

header .logo-n{
    height: 50px;
}

.container-aba{
    margin-left: 20px;
    margin-bottom: 60px;
}

.botao-N{
    background-color: var(--preta);
    border: none;
}

header .cabesalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .titulo-aba{
    margin-right: 50%;
}

.filme-principal-aba-filmes{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("/img/mulher-maravilha-fundo2.jpg");
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/*aba séries*/

.filme-principal-aba-series{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("/img/naruto-shippudem-fundo.jpg");
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.botao-assistir{
    color: white;
}

/*aba documentarios*/

.filme-principal-aba-documentarios{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("/img/naruto-shippudem-fundo.jpg");
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}